body{
    height: 100px;
    width: 518px;
    
}

.Lorem{
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    background-color: greenyellow;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: 1px solid red;
    border-radius: 5px;
}
